header {
    background-image: chelseabackground.jpg;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 5rem;
}

p {
    font-style: italic;
}


h1, h2 {
   font-size: 16px; 
   font-family: "Raleway";
   font-weight: 300;
   font-size: 2.5rem;
}

.motto {
   font-size: 1.5rem;
   font-style: italic;
   margin-top: 0%;
}


body {
    background-color: #f0f0f0;
    font-family: "Nunito Sans";
    font-size: 16px;
}

.container {
   margin-left: auto;
   margin-right: auto;
   max-width: 1170px;
   font-weight: bold;
   padding-left: 1rem;
   padding-right: 1rem;
}

#menu {
   background-color: #f0f0f0;
   font-weight: bold;
   text-align: left;
}

dd {
   margin-left: 0;
}

main {
   background-color: #e0e0e0;
   line-height: 1.5;
}
image {
   float: right;
   max-width: 300px;
}

footer {
   background-color: #3e1305;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: white;
}

svg {
    fill: white;
    width: 1.8rem;
    transition: all 2s;
}

svg:hover {
   fill: #d0d0d0;
}

em {
   text-decoration-color: white;
}